asgiref==3.5.2
bcrypt==3.2.2
cffi==1.15.0
click==8.1.3
colorama==0.4.4
Django==4.0.5
django-crispy-forms==1.14.0
django-debug-toolbar==3.5.0
django-rest-authtoken==2.1.4
django-tinymce==3.4.0
djangorestframework==3.13.1
Flask==2.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.2
logzero==1.7.0
MarkupSafe==2.1.1
psycopg2==2.9.3
pycparser==2.21
pyodbc==4.0.32
pytz==2022.1
SQLAlchemy==1.4.37
sqlparse==0.4.2
tzdata==2022.1
Werkzeug==2.1.2
WTForms==3.0.1
